@font-face {
  font-family: "GeistVF";
  src: url("../public/fonts/GeistVF.woff");
}

@font-face {
  font-family: "GeistMonoVF";
  src: url("../public/fonts/GeistMonoVF.woff");
}

body {
  background-color: #ecfee8;
}

header {
  position: sticky;
  margin-top: 1%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

main {
  flex: 1;
  display: flex;
}

footer {
  margin-bottom: 1%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

h2 {
  color: #ecfee8;
  font-family: "GeistVF", sans-serif;
  margin-left: 2%;
  margin-right: auto;
  text-shadow: 0px 0px 10px black;
}

#logo {
  height: 2rem;
  display: contents;
  box-sizing: border-box;
}
