.contacto {
  padding: $spacing;
  background-color: $fondo-oscuro;

  h1 {
    font-size: 2rem;
    color: $primario;
    text-align: center;
    margin-bottom: $spacing;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing;

    label {
      font-family: "GeistVFmono", monospace;
      font-size: 1rem;
      color: $primario;
    }

    input,
    textarea {
      background-color: $fondo-oscuro;
      color: $texto-claro-gris;
      padding: 0.75rem;
      border-radius: 5px;
      border-width: 1px;
      border-color: $stroke-gris;
      font-family: "GeistVF", sans-serif;
      font-size: 1rem;
      resize: vertical;

      &:focus {
        border-color: solid $stroke-focus;
      }
    }

    button {
      align-self: center;
      background-color: $primario;
      color: $boton-primario-text;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: "GeistVF", sans-serif;
      font-size: 1.1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $boton-primario-hover;
      }
    }
  }
}
