footer {
    background-color: $color-fondo-oscuro;
    color: #fff;
    padding: $spacing;
    text-align: center;
    box-shadow: 1px 1px 1px 10px black;
  
    form {
      margin-bottom: $spacing;
      input[type="email"] {
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
      }
    }

    button {
      &:hover {
        background-color: $color-primario;
      }
    }
  
    .redes-sociales a {
      color: #fff;
      margin: 0 $spacing;
  
      &:hover {
        color: $color-secundario;
      }
    }
  }
  