header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing;
    background-color: $color-fondo-oscuro;
    box-shadow: 1px 0px 0px 10px black;

  
    .logo {
      max-width: 10em;
      max-height: 5em;
    }
  
    nav a {
      color: #fff;
      margin-left: $spacing;
      text-decoration: none;
  
      &:hover {
        color: $color-secundario;
      }
    }
  }
  