header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing;
  background-color: $fondo-header-footer;
  border-bottom: 1px $fondo-cards;
  width: 100%;
  .logo {
    max-width: 10em;
    max-height: 5em;
  }

  nav a {
    color: $primario;
    margin-left: $spacing;
    text-decoration: none;

    &:hover {
      color: $texto-hover;
    }
  }
}
