.servicios {
    padding: $spacing;
  
    h1 {
      color: $color-primario;
    }
  
    article {
      margin-bottom: $spacing;
      border-bottom: 1px solid $color-secundario;
  
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  