// Variables de colores
$primario: #9333ea;
$primario-filter: invert(33%) sepia(87%) saturate(7450%) hue-rotate(255deg)
  brightness(93%) contrast(102%);

// Botones primarios
$boton-primario-fondo: #9333ea;
$boton-primario-hover: #a855f7;
$boton-primario-text: #ffffff;

// Botones secundarios
$boton-secundario-fondo: #581c87;
$boton-secundario-hover: #6b21a8;
$boton-secundario-text: #f2e6fe;

// Texto
$texto-claro: #ffffff;
$texto-oscuro: #000000;
$texto-claro-morado: #f2e6fe;
$texto-claro-gris: #a3a3a3;
$texto-oscuro-gris: #737373;
$texto-hover: #a977df;

// Fondos
$fondo-oscuro: #1f2937;
$fondo-claro: #ffffff;
$fondo-hero: #430d6e;
$fondo-cards: #374151;
$fondo-header-footer: #111827;

// Strokes
$stroke-gris: #bdbcdb;
$stroke-focus: #9333ea;
$stroke-hover: #a855f7;

// Medidas
$spacing: 1rem;
$responsive-padding: 1rem;
$max-width: 1200px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;
