// Variables de colores
$color-primario: #7c34db;
$color-secundario: rgb(142, 72, 255);
$color-texto: #333;
$color-fondo-oscuro:#230b42;

// Tipografías
$fuente-principal: 'Arial', sans-serif;
$fuente-principal-bold: 'Arial', sans-serif;

$fuente-texto: 'Arial', sans-serif;
$fuente-texto-bold: 'Arial', sans-serif;

// Medidas
$spacing: 1rem;
$max-width: 1200px;
