// main.scss

@import "variables";
@import "tipografia";
@import "reset";
@import "header";
@import "footer";
@import "hero";
@import "articulos";
@import "servicios";
@import "contacto";
@import "documentos";

body {
  font-family: "GeistVF", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: $fondo-oscuro;
  color: $texto-claro;
  transition: background-color 0.3s, color 0.3s;

  &.light-theme {
    background-color: $fondo-claro;
    color: $texto-oscuro;
  }

  @media (min-width: $tablet) {
    font-size: 1.125rem;
  }

  @media (min-width: $desktop) {
    font-size: 1.25rem;
  }
}

// Estilos específicos para el modo claro
body.light-theme {
  .hero,
  .productos-hero,
  .servicios-hero,
  .contacto,
  .documents-container {
    background-color: $fondo-claro;
    color: $texto-oscuro;

    h1,
    h2,
    h3 {
      color: $texto-oscuro;
    }

    p {
      color: $texto-oscuro-gris;
    }
  }

  .articulos article,
  .servicio-card,
  .contact-form,
  .info-card,
  .document-buttons .document-btn {
    background-color: $fondo-claro;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
