// _documentos.scss
@use "sass:color";
@use "sass:math";
@use "variables";

.documents-container {
  background-color: variables.$fondo-oscuro;

  @media (max-width: variables.$tablet) {
    min-height: 35vh;
  }

  .container {
    max-width: variables.$max-width;
    margin: 0 auto;
    padding-top: 7rem;
  }

  .document-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: variables.$spacing;
    margin-bottom: variables.$spacing * 2;
    padding: 0 variables.$spacing;

    @media (min-width: variables.$tablet) and (max-width: (variables.$desktop - 1)) {
      padding: 0;
      grid-template-columns: repeat(3, 1fr);
    }

    .document-btn {
      background-color: variables.$fondo-cards;
      color: variables.$texto-claro;
      padding: variables.$spacing * 0.75;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-family: "GeistVF", sans-serif;
      font-size: 0.9rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: variables.$tablet) {
        font-size: 1rem;
        padding: variables.$spacing;
      }

      &:hover,
      &:focus {
        background-color: color.scale(variables.$fondo-cards, $lightness: 5%);
        transform: translateY(-2px);
      }

      &.active {
        background-color: variables.$primario;
        color: variables.$texto-claro;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px variables.$primario;
      }
    }
  }

  .pdf-container {
    background-color: variables.$fondo-cards;
    border-radius: 8px;
    padding: variables.$spacing;
    max-width: 1100px;
    margin: variables.$spacing * 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(150vh - 300px);

    @media (max-width: variables.$tablet) {
      height: calc(100vh - 250px);
      max-height: 125px;
    }

    #pdf-viewer {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    p {
      color: variables.$texto-claro;
      text-align: center;
      padding: variables.$spacing;

      a {
        color: variables.$primario;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: variables.$tablet) {
  .documents-container {
    padding: variables.$spacing;

    .document-buttons {
      flex-direction: column;
      align-items: stretch;

      .document-btn {
        width: 100%;
      }
    }

    .pdf-container {
      height: 70vh;
    }
  }
}
