// main.scss

@use "variables";
@use "tipografia";
@use "reset";
@use "header";
@use "footer";
@use "hero";
@use "articulos";
@use "servicios";
@use "contacto";
@use "documentos";

body {
  font-family: "GeistVF", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: variables.$fondo-oscuro;
  color: variables.$texto-claro;
  transition: background-color 0.3s, color 0.3s;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
  scrollbar-width: none; /* Firefox */
}
