// main.scss

@use "variables";
@use "tipografia";
@use "reset";
@use "header";
@use "footer";
@use "hero";
@use "articulos";
@use "servicios";
@use "contacto";
@use "documentos";

body {
  font-family: "GeistVF", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: variables.$fondo-oscuro;
  color: variables.$texto-claro;
  transition: background-color 0.3s, color 0.3s;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  color: variables.$texto-claro;
  font-size: clamp(1.7rem, 5vw, 2.5rem);
  text-align: center;
  margin-bottom: variables.$spacing * 3;
  line-height: 1.2;
  padding: 0 variables.$spacing;

  @media (min-width: variables.$tablet) {
    font-size: 2rem;
  }

  @media (min-width: variables.$desktop) {
    font-size: 2.5rem;
  }
}
